#head {
    text-align: center;
  }
  
  #image-container {
  
    text-align: center;
  }
  
  #image {
    width: 80vw;
    height: auto;
  }
  
  #button {
    text-align: center;
  }
  
  body {
    color: orange;
    background-color: black;
  }